{% extends "base.html" %}
{% block navbar %}
        {% include "nav_in.html" %}
{% end %}
{% block content %}
    <div>
        <p id="username"></p>
    </div>
    <div class="control-group" id="creategrp-group">
        <label class="control-label">Create your own group!</label>
        <div class="controls">
            <input type="text" id="create-group" class="input-large" rows="1" type="text" placeholder="group name"></input>
            <span class="help-inline hidden" id="group-help">Group already exists.</span>
        </div>
    </div>
    <button type="submit" class="btn" id="creategroup-button">Create</button>
    <div>
        <strong>Groups:</strong>
        <p id="group-list"></p>
    </div>
    <div>
        <strong>You Own:</strong>
        <p id="owner-list"></p>
    </div>
    <div>
        <strong> Notifications: </strong>
        <p id="notification-list"></p>
    </div>
    <div>
        <p id="message-list"></p>
    </div>
{% end %}

{% block scripts %}
        <script src="{{ static_url('js/dashboard.js') }}"></script>
{% end %}
