{% extends "base.html" %}

{% block content %}
    <div class="container">
          <div class="login-form">
            <form>
                User name: <input type="text" class="user-name"><br>
                Password: <input type="password" class="passwd-first"><br>
                <input type="submit" value="Login">
            </form>
        </div>
        <div>
            <p>If you are not a member sign up here!</p>
            <a href="/signup/">Signup</a>
        </div>
    </div>
{% end %}
